

h1 {
    color: teal;
    font-weight: 600;
}


.wrapper {
    width: 100%;
    padding: 20px;
    background-color: lightgray;
}
.row{
    padding: 8px;   
}

.column {
    float: left;
    width: 35%;
}

.content {
    background-color: white;
    padding: 10px;
}



#main_content {
    width: 50%;
    background-color: white;
    padding: 30px;
    margin-bottom: 150px;
    margin-top: 80px;
}

#picture{
    height: 250px;
    width: 250px;
    padding-right: 30px;
    padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .column {
        width: 100%;
    }
}